body {
    margin: 0;
}
#container {
    position: relative;  /* makes this the origin of its children */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#c {
    width: 100%;  /* let our container decide our size */
    height: 100%;
    display: block;
}