body {
    margin: 0;
}


@keyframes warn {
    0% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.0;
    }

    25% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.1;
    }

    50% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        opacity: 0.3;
    }

    75% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}

@keyframes warn1 {
    0% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.0;
    }

    25% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.1;
    }

    50% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.3;
    }

    75% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        opacity: 0.0;
    }
}

.point-animation {
    position: absolute;
    display: none;
    width: 32px;
    height: 32px;
    transform: translate(-50%, -50%);
}
.point-animation.show {
    display: block;
}
.point-animation:before,
.point-animation:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url("/images/wave.png") no-repeat center/100% 100%;

    animation: point-scale 3s linear infinite;
}
.point-animation:after {
    animation-delay: 1s;
}

@keyframes point-scale {
    from {
        transform: scale(0.01);
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}

.pulse {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    animation: warn 1s ease-in-out infinite;
}

.pulse2 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    animation: warn1 1s ease-in-out infinite;
}
